.aboutpage {
  margin: 20px;
  text-align: center;
  color: #fff;
  justify-content: center;
  text-indent: 100px;
  padding: 50px;
  font-weight: 300;
}
.page {
  background-color: rgb(73, 135, 143);
}