.imgSlider {
  object-fit: fill;
  height: 400px;
  width: 100%;
  cursor: pointer;
}

.carouselCaption {
  background-color: rgba(2, 2, 2, 0.39);
  font-weight: 300;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
}