:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: "Roboto Condesed" sans-serif;
}

/****************LOGO********************/
.logo {
  width: 30rem;
}
/***************NAVBAR*******************/
.nav a.nav-link {
  font-size: large;
  letter-spacing: 0.038rem;
  cursor: pointer;
}
/***************FOOTER*******************/
.footer {
  width: 100%;
  background-color: rgb(120, 124, 129);
  color: rgb(17, 17, 17);
}

.footer-link {
  color: rgb(22, 235, 51);
  text-align: left;
  font-family: sans-serif;
}

/****************CAROUSEL*****************/
.imgSlider {
  object-fit: fill;
  height: 500px;
  width: 100%;
  cursor: pointer;
}

/***************BODY*********************/
.body {
  text-align: justify;
  font-size: 1rem;
}

/***************VC**********************/
.vice {
  text-align: center;
}

.prof {
  font-size: 2.5rem;
  border: 2px solid rgb(25, 28, 29);
  background-color: rgb(12, 180, 231);
}
/**************PRINCIPAL****************/
.principal {
  text-align: justify;
}

/***************LOGIN*******************/
.login {
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
}
